- title "Help"

- if params[:id].to_s.end_with? '_markdown'
  = raw(Maruku.new(t params[:id]).to_html)
- else
  %p= t params[:id]

%p= link_to 'Close', ':back', 'data-role' => 'button', 'data-rel' => 'back', 'data-theme' => 'b'
