%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' } 2 datasets found
  %li
    %h3 List of your datasets
    %p Will be the content here
  %li
    %h3 If you have no datasets
    %p Then you'll get a tutorial:

%h3 Welcome to evoText!
%p evoText is a web application designed to let you examine, visualize, and interpret patterns in the corpus of journal articles in the evolutionary sciences.
%p The central concept in evoText is a "dataset."  You currently don't have any datasets, so you're seeing this tutorial message.
%p In order to create a dataset, switch to the "Search/Browse" mode using the button below.  In search and browse mode, you have extensive facilities available to construct a set of interesting articles: via full-text search, filtering on authors, journals, or time-periods, and more.
%p Once you have a set of articles you'd like to explore in more detail, you can turn them into a "dataset" at the press of a button.  Give the dataset a name, and it will appear in this list.  From here,  you can visualize the dataset &mdash; graphing its content and its metadata &mdash; or you can run any number of other digital humanities tools that we provide.
%p The easiest way to learn is to start exploring!  For more information, press the Help button in the top-right corner.
