.bundle
.DS_Store
.rbx
.sass-cache
.yardoc

config/app_config.yml
config/database.yml
config/deploy/deploy_config.rb
contrib/solr/example/logs/*
contrib/solr/example/work
db/*.sqlite*
doc
downloads
spec/coverage/
log/*.log
public/assets
public/static_assets
tmp/*
!tmp/.gitkeep
vendor/bundle

app/views/static/*.markdown
