.bundle
.DS_Store
.sass-cache/
.yardoc/

config/app_config.yml
config/database.yml
config/deploy/deploy_config.rb
db/*.sqlite3
doc
downloads
test/coverage/
log/*.log
public/assets/
tmp
vendor/bundle

app/views/static/*.markdown
