.bundle
.DS_Store
.gh_pages/
.sass-cache/
.yardoc/

app/assets/images/
config/app_config.yml
config/database.yml
db/*.sqlite3
doc/coverage/
log/*.log
public/assets/
public/favicon.ico
public/images/
tmp/

app/views/datasets/_no_datasets.html.haml

