%div.leftcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' } FIXME documents in database
    %li.search
      = form_tag(search_path, :method => :get, 'data-transition' => 'none') do
        = search_field_tag :q, (params[:precise] ? "(advanced search)" : params[:q]), :placeholder => "Search for articles..."
    = render :template => 'search/results'
%div.rightcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' } Filter Search
    %li
      %a{ :href => '#' } Faceted Browsing
    %li
      %a{ :href => '#' } links will go
    %li
      %a{ :href => '#' } right here
