// Advanced Search page
.helptip { vertical-align: text-bottom; }

.advsearch p { 
  clear: both;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.advsearch label {
  float: left;
  width: 15em;
  margin-right: 1em;
  text-align: right;
}

.advsearch input[type=text] {
  width: 60%;
}

.advsearch input[type=radio] {
  width: 1em;
}

.advsearch input.sminput {
  width: 6em;
}

.advsearch p.submit {
  position: relative;
  left: 15em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}