// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #000;

$link-color: #627e59;

$link-hover-color: #384833;

$link-active-color: #627e59;

$link-visited-color: #627e59;

$selected-font-color: #eee;  // color for selected text

$selected-background-color: #384833;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol