// Main document list

ul.docs {
  width: 575px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.docs li {
  margin: 0;
  padding: 1em;
  border-bottom: 1px dashed $border-color;
}

.pagination {
  width: 575px;
}

.rightcol {
  width: 270px;
  float: right;
  
  .rightbox {
    @include border-radius(6px);
    border: 1px solid $border-color;
    
    background-color: $box-color;
    margin: 0 0 3em 0;
    padding-bottom: 1em;
    
    .boxheader {
      height: 30px;

      @include font-size(13px);
      padding: 10px 10px 0 10px;

      color: #535353;
      @include border-top-radius(6px);
      border-bottom: 1px solid $border-color;      
    }

    h2 {      
      font-size: 1.1em;
      margin: 0;
    }
    
    p { margin: 0; }
    
    .selectedfacets {
      background: white;
      border-bottom: 1px solid $border-color;

      padding: 7px 10px;
      
      @include font-size(12px);
      line-height: 1.5;
      
      a { text-decoration: none; }
      a span.facet { text-decoration: underline; }
    }
    
    ul.facetcategories {
      list-style-type: none;
      margin: 0;
      
      li {
        background: white;
        border-bottom: 1px solid $border-color;
        
        .header {
          &.ui-state-focus { outline: none; }
          
          a {            
            text-decoration: none;
            color: black;
            
            display: block;
            
            width: 250px;
            height: 100%;
            padding: 7px 10px;
            
            span {
              background-image: url("/images/arrows.png");
              background-position: top;
              
              width: 12px;
              height: 12px;
              margin-top: 1px;
              
              display: block;
              float: right;
              position: relative;
              right: 0;
            }
          }          
        }
        
        .header.ui-state-active a span.icon { background-position: bottom; }
        
        .collapse {
          padding: 7px 10px;
          
          @include font-size(12px);
          line-height: 1.5;
          
          border-top: 1px dashed $border-color;
        }
      }
    }
    
    h3 {
      font-size: 1em;
      margin-top: 1.2em;
      margin-bottom: 0.2em;
    }
  }
}

