@import "compass/css3";

$border-color: #cacaca;
$box-color: #f2f2f2;

.nowrap { white-space: nowrap; }

header div {
  position: relative;
  
  div.buttons { 
    position: absolute;
    left: 3px;
    top: 3px;
  }
  .searchbar {
    position: absolute;
    width: 35%;
    right: 3px;
    top: 1px;
    
    form { padding: 0; }

    // Responsive layout for search bar
    .max-width-768px & { width: 30% !important; }
    .max-width-480px & { display: none; }
  }
  h1.ui-title {
    width: 100%;
    margin: 0 !important;
    padding: .6em 0 .8em !important;
  }
}

// Fix searchbar formatting (form elements in header/footer).
// This is fragile, since it overrides an internal JQM style.
.searchbar form { position: relative; padding: 3px; }
.searchbar form .ui-input-search {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;  
  width: 100% !important;
}

.searchbar form .ui-input-search input { width: 100% !important; }

// Responsive layout: move search bar to the footer on iPhone
footer { visibility: hidden; }
.max-width-480px footer { visibility: visible; }


// Responsive layout: toggle sidebar at 768px
#small-facetset { display: none; }
.max-width-768px #small-facetset { display: block !important; }


// Fix vertical overlap with full-width <ul>
div.verticalpad { margin-top: 30px; }
