@import "compass/css3";

body, select, input, textarea {
  color: $font-color;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

header h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

header h1 a, header h1 a:active, header h1 a:visited, header h1 a:hover 
{ color: $font-color; text-decoration: none; }


strong, th {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  @include font-size(11px);
}

form input {
  height: 13px;
  font-size: 13px;
  line-height: 13px;
  padding: 6px;
  margin: 0;
  border: 1px solid #cacaca;
  vertical-align: top;
}

form textarea {
  width: 75%;
  height: 116px;
  border: 1px solid #cacaca;
  padding: 6px;
}

form label {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 0.3em;
  line-height: 16px;
}

.formpadding {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 16px;
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------

body {}

#container {
  width: 80%;
  position: relative;
  left: 10%;
}

header {
  margin-top: 6%;
  margin-bottom: 2em;
}

header h1 {
  float: left;
  width: 30%;
}

.clearboth { clear: both; }
.nowrap { white-space: nowrap; }

#main {}

footer {
  margin-top: 3em;
}

//-----------------------------------

@import "partials/index";
@import "partials/searchbar";
@import "partials/advsearch";
