@import "compass/css3";

.nowrap { white-space: nowrap; }
.helpbutton { margin: 0 0.3em !important; vertical-align: -7px; }

div.header div {
  .controls {
    .buttons {
      position: absolute;
      top: 4px;
      right: 37%;      
    }
    
    .searchbar {
      width: 35%;
      position: absolute;
      top: 1px;
      right: 0;

      form { padding: 0; }
    }
  }
  h1.ui-title {
    width: 100%;
    margin: 0 !important;
    padding: .6em .8em .8em !important;
    text-align: left !important;
  }
}

// Move button container when no searchbar is present
div.header div.nosearchbar div.controls div.buttons {
  right: 2% !important;
}

// Fix searchbar formatting (form elements in header).
// This is fragile, since it overrides an internal JQM style.
.searchbar form { position: relative; padding: 3px; }
.searchbar form .ui-input-search {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;  
  width: 100% !important;
}

.searchbar form .ui-input-search input { width: 100% !important; color: #efefef; }

// Responsive layout: move search bar to the document list on iPhone
.list-searchbar {
  display: none !important;
  padding: 3px !important;
}
@media screen and (max-width: 480px) {
  .list-searchbar { display: block !important; }
}


// Pagination links
.pagination {
  text-align: center;
}


// Fix vertical overlap with full-width <ul>
div.verticalpad { margin-top: 30px; }


// Make some elements in document lists smaller
.small-li { font-size: 75% !important; }


// Sidebar styling
.leftcolumn, .rightcolumn { 
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  min-height: 1px;
}
.leftcolumn { clear: left; width: 72%; }
.rightcolumn { width: 28%; font-size: 85% !important; }


// Responsive layout for buttons and search bar
@media screen and (max-width: 768px) {
  div.header div .controls {
    .buttons { right: 33% !important; }
    .searchbar { width: 30% !important; }
  }
}
@media screen and (max-width: 480px) { 
  div.header div .controls {
    .buttons { right: 4px !important; }
    .searchbar { display: none; }
  }
}


// Responsive layout: toggle sidebar at 768px
.leftcolumn { display: block; }
.leftcolumn .columnul { margin-right: 0 !important; }
.rightcolumn .columnul { margin-left: 0 !important; }

@media screen and (max-width: 768px) {
  .leftcolumn { width: 100% !important; }
  .rightcolumn { margin-top: 30px; width: 100% !important; }
  .leftcolumn .columnul { margin-right: -15px !important; }
  .rightcolumn .columnul { margin-left: -15px !important; }
}


// For the collapsible iPhone sidebar: style the list better.  This
// is fragile, it's depending on internal JQM style names.
.facet-collapse h3.ui-collapsible-heading { margin-bottom: 20px !important; }
.facet-collapse div.ui-collapsible-content { padding: 0 !important; }
