%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' } Information for dataset:
  %li
    %h3 Info about the dataset
    %p Will be the content here
