%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' }= t('.head')
  %li
    %h3= @dataset.name
    %p= t('.num_entries', :count => @dataset.entries.size)
    %p= t('.created_at', :date => @dataset.created_at.to_formatted_s(:long))
