.nowrap { white-space: nowrap; }

.helpbutton { margin: 0 0.3em !important; vertical-align: -7px; }

div.header div .controls .buttons { position: absolute; top: 4px; right: 37%; }
div.header div .controls .searchbar { width: 35%; position: absolute; top: 1px; right: 0; }
div.header div .controls .searchbar form { padding: 0; }
div.header div h1.ui-title { width: 100%; margin: 0 !important; padding: .6em .8em .8em !important; text-align: left !important; }

div.header div.nosearchbar div.controls div.buttons { right: 2% !important; }

.searchbar form { position: relative; padding: 3px; }

.searchbar form .ui-input-search { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100% !important; }

.searchbar form .ui-input-search input { width: 100% !important; color: #efefef; }

.list-searchbar { display: none !important; padding: 3px !important; }

@media screen and (max-width: 480px) { .list-searchbar { display: block !important; } }

div.verticalpad { margin-top: 30px; }

.small-li { font-size: 75% !important; }

.leftcolumn, .rightcolumn { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; }

.leftcolumn { clear: left; width: 72%; }

.rightcolumn { width: 28%; font-size: 85% !important; }

@media screen and (max-width: 768px) { div.header div .controls .buttons { right: 33% !important; }
  div.header div .controls .searchbar { width: 30% !important; } }

@media screen and (max-width: 480px) { div.header div .controls .buttons { right: 4px !important; }
  div.header div .controls .searchbar { display: none; } }

.leftcolumn { display: block; }

.leftcolumn .columnul { margin-right: 0 !important; }

.rightcolumn .columnul { margin-left: 0 !important; }

@media screen and (max-width: 768px) { .leftcolumn { width: 100% !important; }
  .rightcolumn { margin-top: 30px; width: 100% !important; }
  .leftcolumn .columnul { margin-right: -15px !important; }
  .rightcolumn .columnul { margin-left: -15px !important; } }

.facet-collapse h3.ui-collapsible-heading { margin-bottom: 20px !important; }

.facet-collapse div.ui-collapsible-content { padding: 0 !important; }

.helptip { vertical-align: text-bottom; }

ul.details li p, ul.details li h3 { margin: 0; }

table.terms { margin: 1em; border-top: 2px solid black; border-bottom: 2px solid black; border-collapse: separate; border-spacing: 8px 4px; }
table.terms th { border-bottom: 1px solid black; }
table.terms td.num { text-align: center; }

ul.conc_matches li { font-weight: normal !important; text-align: center !important; }

ul.conc_matches li em { font-weight: bold !important; font-style: italic !important; }

@media print {}
@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
