.nowrap { white-space: nowrap; }

#main div.header div .controls .buttons { position: absolute; top: 4px; right: 37%; }
.max-width-768px #main div.header div .controls .buttons { right: 33% !important; }
.max-width-480px #main div.header div .controls .buttons { right: 4px !important; }
#main div.header div .controls .searchbar { width: 35%; position: absolute; top: 1px; right: 0; }
#main div.header div .controls .searchbar form { padding: 0; }
.max-width-768px #main div.header div .controls .searchbar { width: 30% !important; }
.max-width-480px #main div.header div .controls .searchbar { display: none; }
#main div.header div h1.ui-title { width: 100%; margin: 0 !important; padding: .6em .8em .8em !important; text-align: left !important; }

.searchbar form { position: relative; padding: 3px; }

.searchbar form .ui-input-search { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100% !important; }

.searchbar form .ui-input-search input { width: 100% !important; }

footer { visibility: hidden; }

.max-width-480px footer { visibility: visible; }

div.verticalpad { margin-top: 30px; }

.leftcolumn, .rightcolumn { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; }

.leftcolumn { clear: left; width: 72%; }

.rightcolumn { width: 28%; font-size: 85% !important; }

.leftcolumn { display: block; }

.leftcolumn .columnul { margin-right: 0 !important; }

.rightcolumn .columnul { margin-left: 0 !important; }

.max-width-768px .leftcolumn { width: 100% !important; }

.max-width-768px .rightcolumn { margin-top: 30px; width: 100% !important; }

.max-width-768px .leftcolumn .columnul { margin-right: -15px !important; }

.max-width-768px .rightcolumn .columnul { margin-left: -15px !important; }

.helptip { vertical-align: text-bottom; }

ul.details li p, ul.details li h3 { margin: 0; }

table.terms { margin: 1em; border-top: 2px solid black; border-bottom: 2px solid black; border-collapse: separate; border-spacing: 8px 4px; }
table.terms th { border-bottom: 1px solid black; }
table.terms td.num { text-align: center; }

ul.conc_matches li { font-weight: normal !important; text-align: center !important; }

ul.conc_matches li em { font-weight: bold !important; font-style: italic !important; }

@media print {}
@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
