%ul{ 'data-role' => 'listview', 'data-split-icon' => 'delete', 'data-split-theme' => 'a' }
  - @libraries.each do |library|
    %li
      = link_to library.name, edit_user_library_path(library), 'data-rel' => 'dialog'
      = link_to t('.delete'), delete_user_library_path(library), 'data-rel' => 'dialog'
  %li= link_to t('.query'), query_user_libraries_path, 'data-rel' => 'dialog'
  %li= link_to t('.add_new'), new_user_library_path, 'data-rel' => 'dialog'
