.detailcite
  %p
    %strong Detailed information for:
  %p.cite
    = render :partial => "cite", :locals => { :document => document }

%h2.detailheader
  = title
%p.backlink
  = link_to '«« back to document page', document_path(document)

.clearboth
