%li
  %strong= document.title
  %br
  = render :partial => "citation", :locals => { :document => document }
  %br
  %a{:href => document.doi_url}== PDF
  = " | "
  = link_to 'More Information', document_path(document)
