
all_environments: &all_environments
  app_name: RLetters
  app_email: your@email.com
  app_domain: your.domain
  
  janrain_appname: appname
  janrain_appid: asdfasdf
  janrain_secret: 12341234
  
  solr_server_url: http://localhost:8080/solr

development:
  <<: *all_environments  

test:
  <<: *all_environments  

production:
  <<: *all_environments  
