defaults: &defaults
  available_locales: [ar, cs, cy, da, de, en, eo, es, et, eu, fa, fi, fr, gsw, he, hi, is, it, ja, ko, lv, nb, nl, pl, pt, ru, sk, sv, sw, th, uk, zh]
  
  app_name: RLetters Demo
  app_description: A demonstration of the RLetters program, used to index and analyze academic journal articles
  app_author: RLetters Team
  
  solr_server_url: http://localhost:8080/solr
  google_account_id: 'UA-XXXXXXXX-X'
  mendeley_consumer_key: '1234567890abcdef1234567890abcdef123456789'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
