
You should fill in this file (`DEPLOY_PATH/shared/static_text/_about.markdown`) with some information about your application!

Don't forget to mention that your application uses 
[RLetters](http://github.com/cpence/rletters)!
