
-   ### I selected my language in the user preferences, but all the text is still in English ###
    
    The list of languages indicates all the languages in which it is possible to translate the application.  For most of these languages, the bulk of the translation work has not yet been done.  If you'd like to contribute translations in your native language, we'd love to have them: please visit the [contributing translations page](https://github.com/cpence/rletters/wiki/Contributing-Translations) at the development website for more information about how you can help.

-   ### The Mendeley and CiteULike links return a "page not found" error or show me the wrong document ###
    
    These connections with other systems are only as good as the results available on CiteULike or Mendeley, and (due to technical limitations), we can only perform title-based searches to connect documents here to Mendeley/CiteULike documents.  A "page not found" error means that title-based search received no hits on Mendeley or CiteULike, while returning an incorrect document simply means that the top search hit for the title of the document you're looking for isn't the right document.  You can try to search for these documents directly on the Mendeley and CiteULike websites.