- dates = YAML.load_file(task.result_file.filename)
- x_coords = dates.map { |d| d[0] }
- y_coords = dates.map { |d| d[1] }

%div.graph_container#date_plot
:javascript
  var width = $('#date_plot').width();
  if (width > 600) {
    width = 600;
  }
  
  var height;
  if (width > 480) {
    height = 480;
  } else {
    height = width;
  }
  
  var r = Raphael("date_plot", width, height);
  r.linechart(width / 2, height / 2, width, height, [#{x_coords.to_s},#{y_coords.to_s}], { axis: "0 0 1 1" });

%table
  %caption Dataset by publication date
  %thead
    %tr
      %th{ :scope => 'col' } Year
      %th{ :scope => 'col' } Number of Documents
  %tbody
    - dates.each do |year|
      %tr
        %td= year[0].to_s
        %td= year[1].to_s
