- dates = YAML.load_file(task.result_file.filename)

%h1== #{dataset.name}
%h2== Documents, plotted by year

.verticalpad

%div.center
  %div.graph_container#date_plot &nbsp;

  - content_for :page_javascript do
    :javascript
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Year');
      data.addColumn('number', 'Documents');
      data.addRows(#{dates.to_s});
      
      var width = $(window).width();
      if (width > 750) {
        width = 750;
      }
  
      var height;
      if (width > 480) {
        height = 480;
      } else {
        height = width;
      }

      var options = { 'width':width, 'height':height }
      
      var chart = new google.visualization.LineChart($('#date_plot'));
      chart.draw(data, options);
  
  .verticalpad
  
  %table
    %thead
      %tr
        %th{ :scope => 'col' } Year
        %th{ :scope => 'col' } Number of Documents
    %tbody
      - dates.each do |year|
        %tr
          %td= year[0].to_s
          %td= year[1].to_s
