- term_vectors = YAML.load_file(task.result_file.filename)
= CSV.generate do |csv|
  - csv << [ 'Term', 'tf', 'df', 'tf*idf' ]
  - term_vectors.each do |t,v|
    - csv << [ t, v[:tf], v[:df], v[:tfidf] ]
