/*
 *= require jquery_mobile
 *= require_self
 *= require_tree . 
*/

.verticalpad { margin-top: 14px; margin-bottom: 14px; }

ul.longlist .ui-li-desc, li.longlist .ui-li-desc {
  /* HACK: This relies on internal jQM font sizes! */
  font-size: 14px;
  white-space: normal;
  margin-bottom: 1.25em;
}

