// Styles for concordance display
ul.conc_matches li {
  font-weight: normal !important;
  text-align: center !important;
}
ul.conc_matches li em {
  font-weight: bold !important;
  font-style: italic !important;
}