// All document-details pages (/document/XXXX/something)

ul.details li p, ul.details li h3 { margin: 0; }

table.terms {
  margin: 1em;

  border: {
    top: 2px solid black;
    bottom: 2px solid black;

    collapse: separate;
    spacing: 8px 4px; 
  }
  th { border-bottom: 1px solid black; }
  td.num { text-align: center; }
}
