%ul.longlist{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li
    %h2 Frequently Asked Questions
  %li
    %h3 The Mendeley and CiteULike links return a "page not found" error or show me the wrong document
    %p These connections with other systems are only as good as the results available on CiteULike or Mendeley, and (due to technical limitations), we can only perform title-based searches to connect #{APP_CONFIG['app_name']} documents and Mendeley/CiteULike documents.  A "page not found" error means that title-based search received no hits on Mendeley or CiteULike, while returning an incorrect document simply means that the top search hit for the title of the document you're looking for isn't the right document.  You can try to search for these documents directly on the Mendeley and CiteULike websites.