%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' } #{APP_CONFIG['app_name']} Information
  %li
    Need help using #{APP_CONFIG['app_name']}?  Want to know more about what
    this is all about?  You're in the right place.
  %li
    = link_to(users_path) do
      %h3 Your user account and settings
      %p Visit this page to configure your user account and personal settings.
  %li
    = link_to :controller => 'info', :action => 'privacy' do
      %h3 Privacy policy
      %p How we use the information we collect from you.

