:markdown

  ## #{APP_CONFIG['app_name']} Information

  Need help using #{APP_CONFIG['app_name']}?  Want to know more about what
  this is all about?  You're in the right place.

  #{link_to 'Privacy Policy', :controller => 'info', :action => 'privacy'}


