%ul.longlist{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li
    %h2= t('.head')
  %li= render_static_partial 'privacy_short'
  %li= render_static_partial 'privacy_long'
