- unless flash.empty?
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'e' }
    - flash.each do |k, v|
      %li{ 'data-role' => 'list-divider' }= v
  %div.verticalpad

