%div
  %div.buttons{'data-inline' => 'true'}
    - unless request.env["HTTP_REFERER"].blank?
      = link_to 'Back', :back, 'data-role' => 'button', 'data-icon' => 'arrow-l'
    - if params[:controller] != 'documents' or params[:action] != 'index'
      = link_to 'Home', root_url, 'data-role' => 'button', 'data-icon' => 'home', 'data-direction' => 'reverse'
  
  - unless @no_searchbar
    = render :partial => "layouts/searchbar"
  
  %h1 evoText
  
