%div{:class => "searchbar"}
  = form_tag(documents_path, :method => "get", 'data-transition' => 'none') do
    - if params[:fq]
      - params[:fq].each do |p|
        = hidden_field_tag "fq[]", p
    = search_field_tag :q, (params[:precise] ? t(:'header.advanced_search_placeholder') : params[:q])