-# JQuery Mobile
= stylesheet_link_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css"

-# Standard CSS
= stylesheet_link_tag 'style', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
