!!! 5
%html
  = render :partial => 'layouts/head'
  %body
    %div{ 'data-role' => 'page' }
      %div{ 'data-role' => 'header', 'data-theme' => 'd' }
        %h1= content_for :title
      %div{ 'data-role' => 'content', 'data-theme' => 'c' }
        = yield
